<h1>LoxBerry Backup</h1>
<p>Das Backup-Tool basiert auf <a href="https://www.linux-tips-and-tricks.de/de/raspibackup" target="_blank" rel="noopener">raspiBackup</a>. Dort gibt es detaillierte Infos zu Backup und Restore.</p>
<p>Das Backup wird automatisch an den Pfad /backup durchgef&uuml;hrt. Mounte deinen externen Datentr&auml;ger oder dein Netzwerklaufwerk an den Pfad /backup.</p>
<h2>Backup jetzt starten</h2>
<p>Welchen Backup-Typ m&ouml;chtest du jetzt ausf&uuml;hren?</p>
<p>Type</p>
<p>Jetzt starten!</p>
<h2>Zeitplan</h2>
<form>
<table style="border-color: grey; margin-left: auto; margin-right: auto;" border="1"><caption>&nbsp;</caption>
<tbody>
<tr>
<td>
<p><strong>Backup-Typ</strong></p>
</td>
<td><strong>Zeitplan</strong></td>
<td><strong>Aufbewahrte Sicherungen</strong></td>
</tr>
<tr>
<td>
<p>Komprimiertes Image Backup (dd gezippt)</p>
</td>
<td><input id="ddcron_off" name="ddcron" type="radio" /> <label for="ddcron_off">Aus</label> <input id="ddcron_daily" name="ddcron" type="radio" /> <label for="ddcron_daily">T&auml;glich</label> <input id="ddcron_weekly" name="ddcron" type="radio" /> <label for="ddcron_weekly">W&ouml;chentlich</label> <input id="ddcron_monthly" name="ddcron" type="radio" /> <label for="ddcron_monthly">Monatlich</label> <input id="ddcron_yearly" name="ddcron" type="radio" /> <label for="ddcron_yearly">J&auml;hrlich</label></td>
<td><input id="ddcron_retention" max="100" min="0" type="number" />&nbsp;Backups</td>
</tr>
<tr>
<td>Dateibasiertes Backup (rsync)</td>
<td><input id="rsynccron_off" name="rsynccron" type="radio" /> <label for="rsynccron_off">Aus</label> <input id="rsynccron_daily" name="rsynccron" type="radio" /> <label for="rsynccron_daily">T&auml;glich</label> <input id="rsynccron_weekly" name="rsynccron" type="radio" /> <label for="rsynccron_weekly">W&ouml;chentlich</label> <input id="rsynccron_monthly" name="rsynccron" type="radio" /> <label for="rsynccron_monthly">Monatlich</label> <input id="rsynccron_yearly" name="rsynccron" type="radio" /> <label for="rsynccron_yearly">J&auml;hrlich</label></td>
<td><input id="rsynccron_retention" max="100" min="0" type="number" />&nbsp;Backups</td>
</tr>
<tr>
<td>Dateibasiertes, komprimiertes Backup (tgz)</td>
<td><input id="tgzcron_off" name="tgzcron" type="radio" /> <label for="tgzcron_off">Aus</label> <input id="tgzcron_daily" name="tgzcron" type="radio" /> <label for="tgzcron_daily">T&auml;glich</label> <input id="tgzcron_weekly" name="tgzcron" type="radio" /> <label for="tgzcron_weekly">W&ouml;chentlich</label> <input id="tgzcron_monthly" name="tgzcron" type="radio" /> <label for="tgzcron_monthly">Monatlich</label> <input id="tgzcron_yearly" name="tgzcron" type="radio" /> <label for="tgzcron_yearly">J&auml;hrlich</label></td>
<td><input id="tgzcron_retention" max="100" min="0" type="number" />&nbsp;Backups</td>
</tr>
</tbody>
</table>
</form>
<script>
  function submitValues() {
    var str = $( "form" ).serialize();
    // $( "#results" ).text( str );
  }
  $( "input[type='checkbox'], input[type='radio']" ).on( "click", submitValues );
  $( "select" ).on( "change", submitValues );
  submitValues();
</script>
