<font size="-1">
<h3><!--$T::LMS2UDP_HEADING_BASICSETTINGS--></h3>
<!--$T::LMS2UDP_HELP_INTRODUCTION--><br />
<br />
<b><!--$T::LMS2UDP_ACTIVATE--></b> <!--$T::LMS2UDP_HELP_TABLE_ACTIVATE--><br />
<b><!--$T::LMS2UDP_MSNR--></b> <!--$T::LMS2UDP_HELP_TABLE_RECEIVER_MS--><br />
<b><!--$T::LMS2UDP_UDPPORT--></b> <!--$T::LMS2UDP_HELP_TABLE_RECEIVER_MS_UDP--><br />
<b><!--$T::LMS2UDP_LMSADDRESS--></b> <!--$T::LMS2UDP_HELP_TABLE_LMSADDRESS--><br />
<br /><!--$T::LMS2UDP_HELP_ADDITIONAL_PARAMETERS_HINT--><br />
<br />
<b><!--$T::BUTTON_SAVE--></b><br />
<!--$T::BUTTON_HELP_LMS2UDP_SAVE--><br />
<br />
<b><!--$T::BUTTON_WIZZARD--></b><br />
<!--$T::BUTTON_HELP_LMS2UDP_WIZZARD--><br />
</font>
