<font size="-1">
<h3><!--$T::BASIC_HEADING_BASICSETTINGS--></h3>
<!--$T::BASIC_HELP_INTRODUCTION--><br>
<b><!--$T::BASIC_LMSADDRESS-->:</b>&nbsp;
<!--$T::BASIC_HELP_LMSADDRESS--><br>
<br>
<h3><!--$T::INSTANCES_HEADING--></h3>
<b><!--$T::INSTANCES_TABLE_HEAD_ACTIVE-->:</b>
<!--$T::INSTANCES_HELP_TABLE_HEAD_ACTIVE--><br>
<b><!--$T::INSTANCES_TABLE_HEAD_INSTANCE_NAME-->:</b>
<!--$T::INSTANCES_HELP_TABLE_HEAD_INSTANCE_NAME--><br>
<b><!--$T::INSTANCES_TABLE_HEAD_MAC_ADDRESS--></b>
<!--$T::INSTANCES_HELP_TABLE_HEAD_MAC_ADDRESS--><br>
<b><!--$T::INSTANCES_MAC_DICE_HINT-->:</b> 
<!--$T::INSTANCES_HELP_MAC_DICE_HINT--><br>
<b><!--$T::INSTANCES_OUTPUT_HINT--></b>
<!--$T::INSTANCES_HELP_OUTPUT_HINT--><br>
<b><!--$T::INSTANCES_ADDITIONAL_PARAMETERS_HINT--></b>
<!--$T::INSTANCES_HELP_ADDITIONAL_PARAMETERS_HINT--><br>
<br>

<h3><!--$T::BUTTON_HELP_INSTANCES_HEADING--></h3>
<!--$T::BUTTON_HELP_INSTANCES_INTRODUCTION--><br>
<br>
<i><!--$T::BUTTON_SAVE--></i> <!--$T::BUTTON_HELP_INSTANCES_SAVE--><br>
<i><!--$T::BUTTON_SAVE_AND_APPLY--></i>  <!--$T::BUTTON_HELP_INSTANCES_SAVE_AND_APPLY-->
</font>
