<!DOCTYPE html>
<link rel="stylesheet" href="/plugins/<!--$pluginname-->/style.css">
<center>
	
<form method="post" data-ajax="false" name="main_form" id="main_form" action="./index.cgi">
	<input type="hidden" name="saveformdata" value="1">
	<input type="hidden" name="ConfigVersion" value="<!--$cfgversion-->">
	<input type="hidden" name="Instances" value="<!--$squ_instances-->">
	<h1><!--$T::BASIC_HEADING_BASICSETTINGS--></h1>
		
	<div style="align: center text-align: center; text-indent: 0px; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;">
	  

	<table border="1" cellpadding="2" cellspacing="2" style="background-color: #ffffff;">
	  <tr>
	  <td style="border-width : 0px;"><!--$T::BASIC_LMSADDRESS--></td>
	  <td style="border-width : 0px;"><input type="text" name="LMSServer" value="<!--$squ_server-->"></td>
	  <td style="border-width : 0px;"><!--$T::BASIC_LMSADDRESS_FORMAT--></td>
	  <tr>
	  <td style="border-width : 0px;"><!--$T::BASIC_POWEROFFPLAYERS--></td>
	  <td style="border-width : 0px;"><input type="checkbox" data-role="flipswitch" name="poweroff" id="poweroff" <!--$squ_poweroff_enabled--></td>
	  <td style="border-width : 0px;"><!--$T::BASIC_POWEROFFPLAYERS_FORMAT--></td>
	  </tr>
	  </tr>
	  <tr>
	  <td style="border-width : 0px;"><!--$T::BASIC_ALTERNATIVEBINARIES--></td>
	  <td style="border-width : 0px;"><input type="checkbox" data-role="flipswitch" name="altbinaries" id="altbinaries" <!--$squ_altbinaries_enabled--></td>
	  <td style="border-width : 0px;"><!--$T::BASIC_ALTERNATIVEBINARIES_FORMAT--></td>
	  </tr>
	  </tr>
	</table>
	</div>
	<a href="#" id="basic_showmore"><!--$T::BASIC_SHOWMORE--></a>
	<div style="align: center text-align: center; text-indent: 0px; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; display:none;" id="basic_table_advanced">
	<table border="1" cellpadding="2" cellspacing="2" style="background-color: #ffffff;" >
	  <tr>
	  <td style="border-width : 0px;"><!--$T::BASIC_LMSWEBPORT--></td>
	  <td style="border-width : 0px;"><input type="text" name="LMSWebPort" value="<!--$squ_lmswebport-->"></td>
	  <td style="border-width : 0px;"><!--$T::BASIC_LMSWEBPORT_FORMAT--></td>
	  </tr>
	  <tr>
	  <td style="border-width : 0px;"><!--$T::BASIC_LMSCLIPORT--></td>
	  <td style="border-width : 0px;"><input type="text" name="LMSCLIPort" value="<!--$squ_lmscliport-->"></td>
	  <td style="border-width : 0px;"><!--$T::BASIC_LMSCLIPORT_FORMAT--></td>
	  </tr>
	  <tr>
	  <td style="border-width : 0px;"><!--$T::BASIC_LMSDATAPORT--></td>
	  <td style="border-width : 0px;"><input type="text" name="LMSDATAPort" value="<!--$squ_lmsdataport-->"></td>
	  <td style="border-width : 0px;"><!--$T::BASIC_LMSDATAPORT_FORMAT--></td>
	  </tr>

	  <tr style="display:none;">
	  <td style="border-width : 0px;"><!--$T::BASIC_DEBUGMODE--></td>
	  <td style="border-width : 0px;"><input type="checkbox" data-role="flipswitch" name="debug" id="switch" value="Yes" <!--$squ_debug_enabled--></td>
	  <td style="border-width : 0px;"><!--$T::BASIC_DEBUG_USEWITHCARE--></td> 
	</table>
	</div>
	<h1><!--$T::INSTANCES_HEADING--></h1>
	<!--$T::INSTANCES_PREAMBLE--><br /><br />

	<div style=" text-align: center; text-indent: 0px; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;">
	
	<!--$htmlout-->
	
	</div>
	<p style="font-size:12px; font-style: italic;">
	<!--$T::INSTANCES_CURRENTLY_RUNNING-->
	</p>

<p>
<center>
<p><button type="submit" tabindex="-1" form="main_form" name="addbtn" value="add" id="btnadd" data-role="button" data-inline="true" data-mini="true" data-icon="plus"><!--$T::BUTTON_ADD_INSTANCE--></button></p>

<a id="btncancel" data-role="button" data-inline="true" data-mini="true" data-icon="delete" href="#"><!--$T::BUTTON_CANCEL--></a>
<button type="submit" form="main_form" name="submitbtn" value="submit" id="btnsubmit" data-role="button" data-inline="true" data-mini="true" data-icon="check"><!--$T::BUTTON_SAVE--></button>
<button type="submit" tabindex="-1" form="main_form" name="applybtn" value="apply" id="btnapply" data-role="button" data-inline="true" data-mini="true" data-icon="refresh"><!--$T::BUTTON_SAVE_AND_APPLY--></button>
<button onclick="openTemplateWizzard()" type="button" tabindex="-1" name="btnwizzard" id="btnwizzard" data-role="button" data-inline="true" data-mini="true" data-icon="grid"><!--$T::BUTTON_WIZZARD--></button>
</form>

</center>
</p>

<img src="/plugins/<!--$pluginname-->/images/icon_256.png">

<script type="text/javascript">
function genMAC(){
    var hexDigits = "0123456789ABCDEF";
    var macAddress = "";
    for (var i = 0; i < 6; i++) {
        macAddress+=hexDigits.charAt(Math.round(Math.random() * 15));
        macAddress+=hexDigits.charAt(Math.round(Math.random() * 15));
        if (i != 5) macAddress += ":";
    }

    return macAddress;
}

// Sets a random MAC to the value field
function setRandomMAC(fieldname) {
	var elem = document.getElementById(fieldname);
	elem.value = genMAC();
}

// Colors MAC address red if format not correct
function checkMAC(fieldname) {
	var MACAddress = document.getElementById(fieldname);
	var MACvalue = MACAddress.value.trim();
	//var MACRegex=new RegExp('/^(([A-Fa-f0-9]{2}[:]){5}[A-Fa-f0-9]{2}[,]?)+$/');
	var MACRegex = /^(([A-Fa-f0-9]{2}[:]){5}[A-Fa-f0-9]{2}[,]?)+$/;
	
	if (MACAddress != null && !MACRegex.test(MACvalue)) {
		// Color red
		MACAddress.style.color = "red";
	} 
	else {
		MACAddress.style.color = "black";
	}
}


// Animation for the "show more" link
    $("body").off("click", "#basic_showmore");
    $("body").on("click", "#basic_showmore",
        function(){
            $("#basic_table_advanced").slideToggle("fast");
        }
    );

$('#btncancel').click(function() {
    location.reload();
	return false;
});

function openTemplateWizzard() {
	window.open('./templatebuilder.cgi', '_blank', 'menubar=0,scrollbars=1,status=0,toolbar=0', 'replace=false');
}

/*
$('#btnwizzard').unbind('click').bind('click', function (e) {
	window.open('./templatebuilder.cgi', '_blank', 'menubar=0,scrollbars=1,status=0,toolbar=0', 'replace=false');
});
*/

/*$('#btnwizzard').click(function() {
	window.open('./templatebuilder.cgi', '_blank', 'menubar=0,scrollbars=1,status=0,toolbar=0', 'replace=false');
});*/
/*$(document).on('click', '#btnwizzard', function() {
window.open('./templatebuilder.cgi', '_blank', 'menubar=0,scrollbars=1,status=0,toolbar=0', 'replace=false');
return false;
});
*/

</script> 

