<div data-role="navbar" >
	<ul>
		<li><a id="a_backup" href="./index.cgi" <TMPL_VAR NAME=CLASS_INDEX> >Backup</a></li>
<!--		<li><a id="a_settings" href="./settings.cgi" <TMPL_VAR NAME=CLASS_SETTINGS> >Settings</a></li> -->
<!--		<li><a id="a_logfile" href="/admin/system/tools/logfile.cgi?logfile=plugins/lbbackup/raspiBackup.log&header=html&format=template" <TMPL_VAR NAME=CLASS_LOGFILE> >Logfile</a></li> -->
<li>		<a target="_blank" href="/admin/system/tools/logfile.cgi?logfile=plugins/lbbackup/raspiBackup.log&header=html&format=template">Logfile</a></li>
 	</ul>
</div>
